/*
 * Import Tailwind
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Base Styles
 */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

a {
  @apply font-normal text-blue-500 hover:underline dark:text-amber-300;
}
