/*
 * Import Tailwind
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Base Styles
 */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/*
 * Highlight colors
 */
:root {
  --light-selection: rgba(191, 219, 254, 0.3); /* Tailwind blue-200 at 30% opacity */
  --light-selection-underline: #3b82f6; /* Tailwind blue-500 */
  --dark-selection: rgba(255, 201, 40, 0.1); /* Tailwind amber-300 at 10% opacity */
  --dark-selection-underline: #f59e42; /* Tailwind amber-300 */

  /* Shared ::selection underline styles */
  ::selection {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  ::selection {
    background-color: var(--dark-selection);
    text-decoration-color: var(--dark-selection-underline);
  }
}

@media (prefers-color-scheme: light) {
  ::selection {
    background-color: var(--light-selection);
    text-decoration-color: var(--light-selection-underline);
  }
}

/* Selection color for theme classes (for next-themes) */
.dark ::selection {
  background-color: var(--dark-selection);
  text-decoration-color: var(--dark-selection-underline);
}

.light ::selection {
  background-color: var(--light-selection);
  text-decoration-color: var(--light-selection-underline);
}
